<html>
<head>
	<title>Articles</title>
	{{> top}}

</head>
<body style="background-color: rgb(250, 250, 250);">

	<div class='container'>
		<div id='mainSpace'>

		<p class='text-center' id='mainTitle'>skinX Education</p>
        <!--<p class='text-center' id='naviText'>{{title}}</p>-->

      
		<div class="jumbotron">
			<h1>{{title}}</h1>
			<img class='mx-auto my-auto d-block img-responsive'src='/image/{{head}}' id='head-image' alt='image'>
			<br>
			<p class='articlesrec'>{{pur}}</p>
			<p class='articlessummary'>{{purpose}}</p>
			<p class='articlesrec'>{{imp}}</p>
			<p class='articlessummary'>{{importance}}</p>
			<br>
			<p class='articlesrec'>{{i1}}</p>
			<p class='articlessummary'>{{ingredient1}}</p>
			<p class='articlesrec'>{{i2}}</p>
			<p class='articlessummary'>{{ingredient2}}</p>
			<p class='articlesrec'>{{i3}}</p>
			<p class='articlessummary'>{{ingredient3}}</p>
			<br>
			<p class='articlesrec'>{{p1}}</p>
			<img class='mx-auto my-auto d-block' src='/image/{{imageP1}}' id='articles-image' alt='image'>
			<p class='productsummary'>{{product1}}</p>
			<br>
			<img class='mx-auto my-auto d-block' src='/image/{{imageP2}}' id='articles-image' alt='image'>
			<p class='productsummary'>{{product2}}</p>
			
			<br>
			<br>
			<p class='articlessummary'>{{linker}}<a href="{{link}}">Ingredient Glossary</a></p>
			<br>

		</div>

		</div>

	</div>

	<div>
		{{> nav}}
	</div>

	{{> bottom}}

</body>
</html>

