<html>
<head>
	<title>Articles</title>
	{{> top}}

</head>
<body>

	<div class='container'>
		<div id='mainSpace'>

		<p class='text-center' id='mainTitle'>WELCOME TO skinX Education</p>
        <!--<p class='text-center' id='naviText'>{{title}}</p>-->

      
		<div class="jumbotron">
			<h1>{{title}}</h1>
			<p>{{purpose}}</p>
			<p>{{importance}}</p>
			<p>{{ingredient1}}</p>
			<p>{{ingredient2}}</p>
			<p>{{ingredient3}}</p>
			<p>{{product1}}</p>
			<img src='/image/{{imageP1}}' id='articles-image' alt='image'>
			<p>{{product2}}</p>
			<img src='/image/{{imageP2}}' id='articles-image' alt='image'>
			<a href="{{link}}">Ingredient Glossary</a>

		</div>

		</div>

	</div>

	<div>
		{{> nav}}
	</div>

	{{> bottom}}

</body>
</html>

