<html>
<head>
	<title>Articles</title>
	{{> top}}

</head>
<body>

	<div class='container'>
		<div id='mainSpace'>

		<p class='text-center' id='mainTitle'>WELCOME TO skinX Education</p>
        <!--<p class='text-center' id='naviText'>{{title}}</p>-->

      
		<div class="jumbotron">
			<h1>{{title}}</h1>
			<p class='articlesrec'>{{pur}}</p>
			<p class='articlessummary'>{{purpose}}</p>
			<p class='articlesrec'>{{imp}}</p>
			<p class='articlessummary'>{{importance}}</p>
			<br>
			<p class='articlesrec'>{{i1}}</p>
			<p class='articlessummary'>{{ingredient1}}</p>
			<p class='articlesrec'>{{i2}}</p>
			<p class='articlessummary'>{{ingredient2}}</p>
			<p class='articlesrec'>{{i3}}</p>
			<p class='articlessummary'>{{ingredient3}}</p>
			<br>
			
			<p class='articlesrec'>{{product1}}</p>
			<img src='/image/{{imageP1}}' id='articles-image' alt='image'>
			<p class='articlesrec'>{{product2}}</p>
			<img src='/image/{{imageP2}}' id='articles-image' alt='image'>
			
			<br>
			<br>
			<p class='articlessummary'>{{linker}}<a href="{{link}}">Ingredient Glossary</a></p>
			<br>

		</div>

		</div>

	</div>

	<div>
		{{> nav}}
	</div>

	{{> bottom}}

</body>
</html>

