<html>
<head>
	<title>Results</title>
	{{> top}}

</head>
<body style="background-color: rgb(250, 250, 250);">

	<div class='container'>
		<div id='mainSpace'>

		<p id='mainTitle' style="color:#33333; font-size:42px;">SKIN TYPE RESULTS</p>
		<p id='naviText' style="font-style: italic; color:#445336;; text-align:center; font-weight:bolder;"> Let's find out what your skin needs to feel its best!</p>

		
		<!--<div class='row mx-auto my-5 d-block'>
			<img class='rounded mx-auto d-block' >
		</div>-->

		<div style="color:#333333;" class="results">
			<img  class='resultsimg' src='/image/{{image}}' alt='image'>
			<h1 style="text-align: center; font-style:italic; color:#445336;">{{title}}</h1>
			<br>
			<p style="text-align: center;">{{summary}}</p>
			<br>
			<p style="text-align: center; color:#456e20; font-weight: bold;"> ------------- </p>
			<br>
			<p style="color:#3e4e30; font-weight: bold; font-size: 22px;">{{bestingredients}}</p>
			<p class='resultsrec' >{{rec1}}</p>
			<p style="color:#333333;" class='resultssummary'>{{rec1summary}}</p>
			<p class='resultsrec'>{{rec2}}</p>
			<p style="color:#333333;" class='resultssummary'>{{rec2summary}}</p>
			<p class='resultsrec'>{{rec3}}</p>
			<p style="color: #333333;" class='resultssummary'>{{rec3summary}}</p>
			<br>

			<div class='row mx-auto my-4 d-block'>
				<a style='text-transform:none;' class='button mx-auto d-block' href='/education' 
				role="button">Learn about products and ingredients</a>
			</div>

		</div>

		</div>

	</div>

	<div>
		{{> nav}}
	</div>

	{{> bottom}}

</body>
</html>